// $background: #eeead6;
// $bookend: #979c57;
// $bookend-text: #3c5830;
// $project: #6ba4d2;
// $project-text: #01417a;
// $project-title: #ffffff;
// $gray: #545454;

body {
    font-family: 'Fira Sans', sans-serif;
//     color: $gray;
//     background-color: $background;
}

p {
    font-size: 1rem;
}

.code {
    font-size: 1rem;
}

.avatar {
    border-radius: 0.5rem;
}

.tag {
    font-weight: bold;
}

.tag:not(body).is-python,
.tag:not(body).is-react {
    background-color: #3298dc;
    color: #fff;
}

.tag:not(body).is-ruby,
.tag:not(body).is-rails,
.tag:not(body).is-laravel {
    background-color: #f14668;
    color: #fff;
}

.tag:not(body).is-phoenix {
    background-color: #df5e36;
    color: #fff;
}

.tag:not(body).is-rust {
    background-color: #871a1a;
    color: #fff;
}

.tag:not(body).is-aws,
.tag:not(body).is-js {
    background-color: #ffdd57;
}

.tag:not(body).is-heroku {
    background-color: #a64eff;
    color: #fff;
}

.tag:not(body).is-elixir {
    background-color: #7300e7;
    color: #fff;
}
.tag:not(body).is-php,
.tag:not(body).is-wasm {
    background-color: #5f56e8;
    color: #fff;
}

.tag:not(body).is-vue {
    background-color: #00d1b2;
    color: #fff;
}

.cli {
    margin: 1rem;
    padding: 0.25rem;
    color: #fff;
    background-color: #262b36;
    border-radius: 0.2rem;
    font-size: 14px;
}

.command {
    font-family: 'Fira Mono', monospace;
}

.prompt {
    padding: 0rem 0.5rem;
}

// .column img {
#gif {
    padding: 1rem;
}

.card {
    background-color: #fafafa;
}

// h1 {
//   text-align: center;
//   font-weight: bold;
//   color: $bookend-text;
//   font-size: 1.8em;
// }

// h2 {
//     text-align: center;
//     font-weight: bold;
//     color: $project-text;
//     font-size: 1.4em;
// }

// nav {
//     border-bottom: solid $gray 0.15em;

//     ul {
//         padding-bottom: 1em;
//     }

//     li {
//         margin-left: 1em;
//         display: inline-block;

//         // :hover {
//         //     color: white;
//         //     background-color: blue;
//         // }
//     }
// }

// // .footer {
// //     color: $bookend-text;
// //     background-color: $bookend;
// //     margin-top: 3em;
// //     font-weight: bold;
// // }

// // .title {
// //     color: $bookend-text;
// //     background-color: $bookend;
// //     padding: 1em;
// // }

// .column {
//     margin: 2em;
//     padding: 1em;
//     text-align: center;
// }

// .about {
//     width: 60%;
//     margin: 0 auto;
//     text-align: center; // TODO: delete me later
// }

// .project {
//     color: $project-text;
//     background-color: $project;
//     border-radius: 0.5em;
//     border: 0.1em solid $project-text;

//     h2 {
//       color: $project-title;
//       font-weight: bold;
//       padding: 0.5em;
//     }

//     .column {
//         background-color: $background;
//         border-radius: 0.5em;
//         border: 0.1em solid $project-text;

//         a {
//           color: $project-text;
//         }

//         &:hover, &:active {
//           background-color: white;
//         }
//     }

//     .input-line {
//         width: 80%;
//         margin: 0 auto;
//     }

//     .button {
//         margin: 0.5em;
//     }
// }

// .paragraph {
//   font-style: italic;
//   padding: 0.5em;
// }

// .error {
//     color: red;
// }

// .filler {
//     height: 10em;
// }
