$background: #eeead6;
$bookend: #979c57;
$bookend-text: #3c5830;
$project: #6ba4d2;
$project-text: #01417a;
$project-title: #ffffff;
$gray: #545454;

body {
    font-family: 'Fira Sans', sans-serif;
    color: $gray;
    background-color: $background;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: $bookend-text;
  font-size: 1.5em;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: $project-text;
    font-size: 1.2em;
}

nav {
    border-bottom: solid $gray 0.15em;

    ul {
        padding-bottom: 1em;
    }

    li {
        margin-left: 1em;
        display: inline-block;

        // :hover {
        //     color: white;
        //     background-color: blue;
        // }
    }
}

footer {
    color: $bookend-text;
    background-color: $bookend;
    padding: 1em;
    font-weight: bold;
    text-align: center;
}

.title {
    color: $bookend-text;
    background-color: $bookend;
    padding: 1em;
}

.column {
    margin: 2em;
    padding: 1em;
}

.project {
    color: $project-text;
    background-color: $project;
    border-radius: 0.5em;

    h2 {
      color: $project-title;
      font-weight: bold;
      padding: 1em;

      // :hover, :active {
      //   color: $bookend-text;
      // }
    }

    .paragraph {
      font-style: italic;
      padding: 1em;
    }

    &:hover, &:active {
      color: $project;
      background-color: $project-text;
    }
}

.section-text {
    margin: 1.2em;
}

.requirements {
    margin: 1em;
}

.cli {
    margin: 1em;
    padding: 0.25em;
    color: $background;
    background-color: $project;
    border-radius: 0.2em;
    border: 0.1em solid $project-text;
}

.command {
    font-family: 'Fira Mono', monospace;
}

.prompt {
    padding: 0em 0.5em;
}
