nav
  ul
    li
      i(class='fas fa-user') &nbsp;
        a(href='/') About Me
    li
      i(class='fas fa-envelope') &nbsp;
        a(href='/') tacoda@pm.me
    li
      i(class='fas fa-file-alt') &nbsp;
        a(href='/') CV
