nav.navbar
  div.navbar-brand
  div.navbar-menu
    div.navbar-start
      a.navbar-item(href='/')
        i(class='fas fa-home') &nbsp; Home
      a.navbar-item(href='mailto:tacoda@pm.me')
        i(class='fas fa-envelope') &nbsp; tacoda@pm.me
      a.navbar-item(href='/cv.pdf')
        i(class='fas fa-file-alt') &nbsp; CV
      a.navbar-item(href='https://github.com/tacoda')
        i(class='fab fa-github') &nbsp; GitHub
