nav
  ul
    li
      i(class='fas fa-home') &nbsp;
      a(href='/') Home
    li
      i(class='fas fa-user') &nbsp;
      a(href='/about.html') About Me
    li
      i(class='fas fa-envelope') &nbsp;
      a(href='mailto:tacoda@pm.me') tacoda@pm.me
    li
      i(class='fas fa-file-alt') &nbsp;
      a(href='/cv.pdf') CV
