extends layout.pug

block content
  div.container
    h2.error Error
    p.paragraph Page Not Found
    div.filler
    p
        a(href='/')
            i.fas.fa-arrow-left &nbsp; Back Home
  div.filler
  div.filler
  div.filler
