extends layout.pug

block content
  div.container
    section.section
      h1.title About Me
      div.about
        p.paragraph Please pardon typos, broken links, and other dust as this website is still being updated.
        p.paragraph I am a full-stack developer.
    section.section
      h1.title Portfolio
      div.columns
        div.column
          div.card
            div.card-content
              div.media-content
                p.title.is-4 Shotty
              div.content
                p A command line tool for AWS EC2 volume snapshots.
                p
                  a(href='https://github.com/tacoda/shotty')
                    i(class='fas fa-code') &nbsp; Repository
        div.column
          div.card
            div.card-content
              div.media-content
                p.title.is-4 WebIt
              div.content
                p A command line tool that will deploy a directory to a webpage.
                p
                  a(href='https://github.com/tacoda/webit')
                    i(class='fas fa-code') &nbsp; Repository
        div.column
          div.card
            div.card-content
              div.media-content
                p.title.is-4 Jaws
              div.content
                p A command line tool to perform tasks with AWS.
                p
                  a(href='https://github.com/tacoda/jaws')
                    i(class='fas fa-code') &nbsp; Repository
      div.columns
        div.column
          div.card
            div.card-content
              div.media-content
                p.title.is-4 Roarum
              div.content
                p An online community forum built with Rails.
                p
                  a(href='https://github.com/tacoda/roarum')
                    i(class='fas fa-code') &nbsp; Repository
                p
                  a(href='https://gentle-wave-73427.herokuapp.com/')
                    i(class='fas fa-link') &nbsp; Link
        div.column
          div.card
            div.card-content
              div.media-content
                p.title.is-4 Bingo
              div.content
                p An online bingo game built with Elixir.
                p
                  a(href='https://github.com/tacoda/bingo')
                    i(class='fas fa-code') &nbsp; Repository
                p
                  a(href='https://warm-scrubland-51864.herokuapp.com/')
                    i(class='fas fa-link') &nbsp; Link
        div.column
          div.card
            div.card-content
              div.media-content
                p.title.is-4 Palindrome
              div.content
                p A cloud function that determines if the input is a palindrome.
                div
                  input.input(type='text')
                  button.button#palindrome Check
