html
  include partials/head.pug
  body
    h1.title Ian Johnson
    include partials/nav.pug
    div.container
      div.columns
        div.column
          h3
            a(href='/projects/shotty.html') Shotty
          hr
          p.paragraph A snapshot tool for AWS EC2 instances built with Python. This tool is a CLI.
        //- div.column
          h3 Online Forum
          hr
          p.paragraph An online forum built with Ruby on Rails and hosted on AWS EC2. This site also uses Bulma, FontAwesome and PostreSQL.
        //- div.column
          h3 Chat App
          hr
          p.paragraph A chat application built with React hosted on AWS EC2. This site also uses RabbitMQ and Pusher.
      //- div.columns
        div.column
          h3 URL Shortener
          hr
          p.paragraph A url shortener built with React that uses AWS Lambda and DynamoDB.
        div.column
          h3 Shotty
          hr
          p.paragraph A snapshot tool for AWS EC2 instances built with Python. This tool is a CLI.
      //- div.columns
        div.column
          h3 JobSearch
          hr
          p.paragraph A job search site built Django and hosted on AWS EC2. This site uses the indeed job search API.
        div.column
          h3 E-Commerce
          hr
          p.paragraph An online ordering site built with PHP. This site also uses MySQL, AWS and Google Cloud Platform.
    footer &copy; Ian Johnson
