extends layout.pug

block title
  h1.title Ian Johnson

block content
  div.container
    div.columns
      a(class='project' href='/shotty.html')
        div.column
          h2 Shotty
          hr
          p.paragraph A CLI snapshot tool for AWS EC2 instances built with Python.
      a(class='project' href='/webit.html')
        div.column
          h2 WebIt
          hr
          p.paragraph A CLI tool that will deploy a directory to a webpage.
      //- div.column
        h2 Online Forum
        hr
        p.paragraph An online forum built with Ruby on Rails and hosted on AWS EC2. This site also uses Bulma, FontAwesome and PostreSQL.
      //- div.column
        h2 Chat App
        hr
        p.paragraph A chat application built with React hosted on AWS EC2. This site also uses RabbitMQ and Pusher.
    //- div.columns
      div.column
        h2 URL Shortener
        hr
        p.paragraph A url shortener built with React that uses AWS Lambda and DynamoDB.
      div.column
        h2 Shotty
        hr
        p.paragraph A snapshot tool for AWS EC2 instances built with Python. This tool is a CLI.
    //- div.columns
      div.column
        h2 JobSearch
        hr
        p.paragraph A job search site built Django and hosted on AWS EC2. This site uses the indeed job search API.
      div.column
        h2 E-Commerce
        hr
        p.paragraph An online ordering site built with PHP. This site also uses MySQL, AWS and Google Cloud Platform.
