extends layout.pug

block title
  h1.title Shotty

block content
  div.container
    h2.section Description
    p.section-text Shotty is a CLI tool for AWS EC2 instance volume snapshots.
    h2.section Requirements
    ul.section-text
      li Python 3
      li AWS CLI
    h2.section Installation
    p.section-text Install with pip
    div.cli
      i.fas.fa-dollar-sign.prompt
      span.command pip3 install https://s3.amazonaws.com/tacoda-dist/shotty/shotty-0.1-py3-none-any.whl
    h2.section Usage
    p.section-text List EC2 instances
    div.cli
      i.fas.fa-dollar-sign.prompt
      span.command shotty instances list
