extends layout.pug

block title
  h1.title WebIt

block content
  div.container
    h2.section Description
    p.section-text WebIt is a CLI tool that will sync a local directory to an S3 bucket. It will also optionally configure Route 53 and CloudFront.
    h2.section Requirements
    ul.section-text
      li Python 3
      li AWS CLI
    h2.section Installation
    p.section-text Install with pip
    div.cli
      i.fas.fa-dollar-sign.prompt
      span.command pip3 install https://s3.amazonaws.com/tacoda-dist/webit/WebIt-0.1-py3-none-any.whl
    h2.section Usage
    p.section-text List S3 buckets
    div.cli
      i.fas.fa-dollar-sign.prompt
      span.command webit list-buckets
